<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-pagerduty-index") %>>
            <a href="/docs/providers/pagerduty/index.html">PagerDuty Provider</a>
        </li>

        <li<%= sidebar_current("docs-pagerduty-datasource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-pagerduty-datasource-business-service") %>>
                    <a href="/docs/providers/pagerduty/d/business_service.html">pagerduty_business_service</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-escalation-policy") %>>
                    <a href="/docs/providers/pagerduty/d/escalation_policy.html">pagerduty_escalation_policy</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-extension-schema") %>>
                    <a href="/docs/providers/pagerduty/d/extension_schema.html">pagerduty_extension_schema</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-priority") %>>
                    <a href="/docs/providers/pagerduty/d/priority.html">pagerduty_priority</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-ruleset") %>>
                    <a href="/docs/providers/pagerduty/d/ruleset.html">pagerduty_ruleset</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-schedule") %>>
                    <a href="/docs/providers/pagerduty/d/schedule.html">pagerduty_schedule</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-service") %>>
                    <a href="/docs/providers/pagerduty/d/service.html">pagerduty_service</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-service-integration") %>>
                    <a href="/docs/providers/pagerduty/d/service_integration.html">pagerduty_service_integration</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-team") %>>
                    <a href="/docs/providers/pagerduty/d/team.html">pagerduty_team</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-team-members") %>>
                    <a href="/docs/providers/pagerduty/d/team_members.html">pagerduty_team_members</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-tag") %>>
                    <a href="/docs/providers/pagerduty/d/tag.html">pagerduty_tag</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-vendor") %>>
                    <a href="/docs/providers/pagerduty/d/vendor.html">pagerduty_vendor</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-user") %>>
                    <a href="/docs/providers/pagerduty/d/user.html">pagerduty_user</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-datasource-user-contact-method") %>>
                    <a href="/docs/providers/pagerduty/d/user_contact_method.html">pagerduty_user_contact_method</a>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-pagerduty-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-pagerduty-resource-addon") %>>
                    <a href="/docs/providers/pagerduty/r/addon.html">pagerduty_addon</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-business-service") %>>
                    <a href="/docs/providers/pagerduty/r/business_service.html">pagerduty_business_service</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-escalation-policy") %>>
                    <a href="/docs/providers/pagerduty/r/escalation_policy.html">pagerduty_escalation_policy</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-event-rule") %>>
                    <a href="/docs/providers/pagerduty/r/event_rule.html">pagerduty_event_rule</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-extension") %>>
                    <a href="/docs/providers/pagerduty/r/extension.html">pagerduty_extension</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-extension-servicenow") %>>
                    <a href="/docs/providers/pagerduty/r/extension_servicenow.html">pagerduty_extension_servicenow</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-maintenance-window") %>>
                    <a href="/docs/providers/pagerduty/r/maintenance_window.html">pagerduty_maintenance_window</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-response-play") %>>
                    <a href="/docs/providers/pagerduty/r/response_play.html">pagerduty_response_play</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-ruleset") %>>
                    <a href="/docs/providers/pagerduty/r/ruleset.html">pagerduty_ruleset</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-ruleset-rule") %>>
                    <a href="/docs/providers/pagerduty/r/ruleset_rule.html">pagerduty_ruleset_rule</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-schedule") %>>
                    <a href="/docs/providers/pagerduty/r/schedule.html">pagerduty_schedule</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-service") %>>
                    <a href="/docs/providers/pagerduty/r/service.html">pagerduty_service</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-service-dependency") %>>
                    <a href="/docs/providers/pagerduty/r/service_dependency.html">pagerduty_service_dependency</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-service-event-rule") %>>
                    <a href="/docs/providers/pagerduty/r/serve_event_rule.html">pagerduty_service_event_rule</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-service-integration") %>>
                    <a href="/docs/providers/pagerduty/r/service_integration.html">pagerduty_service_integration</a>
                </li>                
                <li<%= sidebar_current("docs-pagerduty-resource-slack-connection") %>>
                    <a href="/docs/providers/pagerduty/r/slack_connection.html">pagerduty_slack_connection</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-tag") %>>
                    <a href="/docs/providers/pagerduty/r/tag.html">pagerduty_tag</a>
                </li>                
                <li<%= sidebar_current("docs-pagerduty-resource-tag-assignment") %>>
                    <a href="/docs/providers/pagerduty/r/tag_assignment.html">pagerduty_tag_assignment</a>
                </li>                
                <li<%= sidebar_current("docs-pagerduty-resource-team") %>>
                    <a href="/docs/providers/pagerduty/r/team.html">pagerduty_team</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-team-membership") %>>
                    <a href="/docs/providers/pagerduty/r/team_membership.html">pagerduty_team_membership</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-user") %>>
                    <a href="/docs/providers/pagerduty/r/user.html">pagerduty_user</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-user-contact-method") %>>
                    <a href="/docs/providers/pagerduty/r/user_contact_method.html">pagerduty_user_contact_method</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-user-notification-rule") %>>
                    <a href="/docs/providers/pagerduty/r/user_notification_rule.html">pagerduty_user_notification_rule</a>
                </li>
                <li<%= sidebar_current("docs-pagerduty-resource-webhook-subscription") %>>
                    <a href="/docs/providers/pagerduty/r/webhook_subscription.html">pagerduty_webhook_subscription</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>
